.services-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}
.card-img-top {
    width: 100%;
    max-width: 400px;
    max-height: 319px;
    /* object-fit: cover; */
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.card-text{
    font-size: 1rem;
    color: #D9D9D9;
    text-align: center;
}
.image-wrapper {
  max-height: 266px; /* or whatever fits your layout */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  max-height: 100%;
  width: 100%;
}



.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.learn-more-button {
  background-color: #05204E;
  color: #d9d9d9;
  border: 1px solid #4AFCF9;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Roboto Flex', sans-serif;
  box-shadow: 0 4px 6px rgba(217, 217, 217, 1);
}

.learn-more-button:hover {
  background-color: #4AFCF9;
  color: #05204E;
  border: 1px solid #05204E;
  text-decoration: none;
}



@media (max-width: 768px) {
  .card {
    margin-bottom: 2rem;
  }
}

.services-page {
    background-color: #021126;
    color: #d9d9d9;
    min-height: 100vh;
    padding: 2rem;
}

@media only screen and (min-width: 981px) {
  .services-page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .services-container {
    flex-grow: 1;
  }

  .services-container .container{
    max-height: 960px;
  }

  .services-container .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .services-container .card{
    max-height: 400px;
    height: 100%;
  }

  .card-img-top {
    width: 100%;
    max-width: 269px;
    max-height: 269px;
    /* object-fit: cover; */
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.image-wrapper {
  max-height: 186px; /* or whatever fits your layout */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper img{
  max-height: 244px;
  width: 269px;
  height: 244px;
}

.services-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  /* .services-container .card {
 display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 379px;
  width: 296px;
  padding: 1rem;
  border-radius: 8px;
  background-color: #05204e;
  }
  
  .button-wrapper {
    margin-top: 2rem;
  } */

  .services-container .card {
  display: flex;
  flex-direction: column;
  height: 100%; /* ensures full height inside the column */
}

.services-container .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.services-container .button-wrapper {
  margin-top: auto;
}
}
